# Ignore the bulky provider binaries in any subfolder
**/.terraform/

# Ignore state files in any subfolder
**/*.tfstate
**/*.tfstate.*

# Ignore sensitive variable files
**/*.tfvars
**/*.tfvars.json

# Ignore the backup files created by editors
**/.terraform.tfstate.lock.info
